/*
* 빙그레
* Binggrae
*
* 
* http://bingfont.co.kr/page/511
*/

@font-face {
  font-family: 'Binggrae';
  src: local('Binggrae'), local('빙그레'), url('/static/fonts/binggrae/Binggrae-Regular.otf') format('opentype'), url('/static/fonts/binggrae/Binggrae-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Binggrae';
  src: local('Binggrae'), local('빙그레'), url('/static/fonts/binggrae/Binggrae-Bold.otf') format('opentype'), url('/static/fonts/binggrae/Binggrae-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.binggrae {
  font-family: 'Binggrae', sans-serif;
}

/*
* 배달의민족 도현
* BM Dohyeon
*
* 
* http://www.woowahan.com/?page_id=3985
*/

@font-face {
  font-family: 'BM Dohyeon';
  src: local('BM Dohyeon'), local('BMDohyeon'), local('배달의민족 도현'), local('배달의민족도현'), url('/static/fonts/bm-dohyeon/BM-Dohyeon-Regular.otf') format('opentype'), url('/static/fonts/bm-dohyeon/BM-Dohyeon-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.bm-dohyeon {
  font-family: 'BM Dohyeon', sans-serif;
}

/*
* 배달의민족 한나는11살
* BM Hanna11yrs
*
* 
* http://www.woowahan.com/?page_id=3985
*/

@font-face {
  font-family: 'BM Hanna11yrs';
  src: local('BM Hanna11yrs'), local('BMHanna11yrs'), local('배달의민족 한나는11살'), local('배달의민족한나는11살'), url('/static/fonts/bm-hanna11yrs/BM-Hanna11yrs-Regular.otf') format('opentype'), url('/static/fonts/bm-hanna11yrs/BM-Hanna11yrs-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.bm-hanna11yrs {
  font-family: 'BM Hanna11yrs', sans-serif;
}

/*
* 배달의민족 주아
* BM Jua
*
* 
* http://www.woowahan.com/?page_id=3985
*/

@font-face {
  font-family: 'BM Jua';
  src: local('BM Jua'), local('BMJua'), local('배달의민족 주아'), local('배달의민족주아'), url('/static/fonts/bm-jua/BM-Jua-Regular.otf') format('opentype'), url('/static/fonts/bm-jua/BM-Jua-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.bm-jua {
  font-family: 'BM Jua', sans-serif;
}

/*
* 배달의민족 연성
* BM Yeonsung
*
* 
* http://www.woowahan.com/?page_id=3985
*/

@font-face {
  font-family: 'BM Yeonsung';
  src: local('BM Yeonsung'), local('BMYeonsung'), local('배달의민족 연성'), local('배달의민족연성'), url('/static/fonts/bm-yeonsung/BM-Yeonsung-Regular.otf') format('opentype'), url('/static/fonts/bm-yeonsung/BM-Yeonsung-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.bm-yeonsung {
  font-family: 'BM Yeonsung', fantasy;
}

/*
* 부산바다
* Busan Bada
*
* SIL Open Font License 1.1
* http://www.busanbadattf.com/---
*/

@font-face {
  font-family: 'Busan Bada';
  src: local('Busan Bada'), local('BusanBada'), local('부산바다'), url('/static/fonts/busan-bada/Busan-Bada-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.busan-bada {
  font-family: 'Busan Bada', sans-serif;
}

/*
* D2 Coding
* D2 Coding
*
* SIL Open Font License 1.1
* https://github.com/naver/d2codingfont/wiki/Open-Font-License
*/

@font-face {
  font-family: 'D2 Coding';
  src: local('D2 Coding'), local('D2Coding'), url('/static/fonts/d2coding/D2Coding-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'D2 Coding';
  src: local('D2 Coding'), local('D2Coding'), url('/static/fonts/d2coding/D2Coding-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.d2-coding {
  font-family: 'D2 Coding', monospace;
}

/*
* 도스고딕
* DOSGothic
*
* 
* https://github.com/glizzy/fonts/blob/master/LICENSE.txt
*/

@font-face {
  font-family: 'DOSGothic';
  src: local('DOSGothic'), local('도스고딕'), url('/static/fonts/dosgothic/DOSGothic-Regular.otf') format('opentype'), url('/static/fonts/dosgothic/DOSGothic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.dosgothic {
  font-family: 'DOSGothic', sans-serif;
}

/*
* 도스명조
* DOSMyungjo
*
* 
* https://github.com/glizzy/fonts/blob/master/LICENSE.txt
*/

@font-face {
  font-family: 'DOSMyungjo';
  src: local('DOSMyungjo'), local('도스명조'), url('/static/fonts/dosmyungjo/DOSMyungjo-Regular.otf') format('opentype'), url('/static/fonts/dosmyungjo/DOSMyungjo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.dosmyungjo {
  font-family: 'DOSMyungjo', serif;
}

/*
* 도스샘물
* DOSSaemmul
*
* 
* https://github.com/glizzy/fonts/blob/master/LICENSE.txt
*/

@font-face {
  font-family: 'DOSSaemmul';
  src: local('DOSSaemmul'), local('도스샘물'), url('/static/fonts/dossammeul/DOSSaemmul-Regular.otf') format('opentype'), url('/static/fonts/dossammeul/DOSSaemmul-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.dossaemmul {
  font-family: 'DOSSaemmul', sans-serif;
}

/*
* 둥근모꼴
* DungGeunMo
*
* Public Domain CC0
* http://cactus.tistory.com/193
*/

@font-face {
  font-family: 'DungGeunMo';
  src: local('DungGeunMo'), local('둥근모꼴'), url('/static/fonts/dunggeunmo/DungGeunMo-Regular.eot') format('eot'), url('/static/fonts/dunggeunmo/DungGeunMo-Regular.otf') format('opentype'), url('/static/fonts/dunggeunmo/DungGeunMo-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.dunggeunmo {
  font-family: 'DungGeunMo', monospace;
}

/*
* EBS 훈민정음
* EBS Hunminjeongum
*
* 
* http://about.ebs.co.kr/kor/notice/recsroom?tabVal=hunmin
*/

@font-face {
  font-family: 'EBS Hunminjeongum';
  src: local('EBS Hunminjeongum'), local('EBSHunminjeongum'), local('EBS 훈민정음'), local('EBS훈민정음'), url('/static/fonts/ebs-hunminjeongum/EBS-Hunminjeongum-Light.otf') format('opentype'), url('/static/fonts/ebs-hunminjeongum/EBS-Hunminjeongum-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'EBS Hunminjeongum';
  src: local('EBS Hunminjeongum'), local('EBSHunminjeongum'), local('EBS 훈민정음'), local('EBS훈민정음'), url('/static/fonts/ebs-hunminjeongum/EBS-Hunminjeongum-Regular.otf') format('opentype'), url('/static/fonts/ebs-hunminjeongum/EBS-Hunminjeongum-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'EBS Hunminjeongum';
  src: local('EBS Hunminjeongum'), local('EBSHunminjeongum'), local('EBS 훈민정음'), local('EBS훈민정음'), url('/static/fonts/ebs-hunminjeongum/EBS-Hunminjeongum-SemiBold.otf') format('opentype'), url('/static/fonts/ebs-hunminjeongum/EBS-Hunminjeongum-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.ebs-hunminjeongum {
  font-family: 'EBS Hunminjeongum', fantasy;
}

/*
* EBS 훈민정음 새론
* EBS Hunminjeongum Saeron
*
* 
* http://about.ebs.co.kr/kor/notice/recsroom?tabVal=hunminsaeron
*/

@font-face {
  font-family: 'EBS Hunminjeongum Saeron';
  src: local('EBS Hunminjeongum Saeron'), local('EBSHunminjeongumSaeron'), local('EBS 훈민정음 새론'), local('EBS훈민정음새론'), url('/static/fonts/ebs-hunminjeongum-saeron/EBS-Hunminjeongum-Saeron-Light.otf') format('opentype'), url('/static/fonts/ebs-hunminjeongum-saeron/EBS-Hunminjeongum-Saeron-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'EBS Hunminjeongum Saeron';
  src: local('EBS Hunminjeongum Saeron'), local('EBSHunminjeongumSaeron'), local('EBS 훈민정음 새론'), local('EBS훈민정음새론'), url('/static/fonts/ebs-hunminjeongum-saeron/EBS-Hunminjeongum-Saeron-Regular.otf') format('opentype'), url('/static/fonts/ebs-hunminjeongum-saeron/EBS-Hunminjeongum-Saeron-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'EBS Hunminjeongum Saeron';
  src: local('EBS Hunminjeongum Saeron'), local('EBSHunminjeongumSaeron'), local('EBS 훈민정음 새론'), local('EBS훈민정음새론'), url('/static/fonts/ebs-hunminjeongum-saeron/EBS-Hunminjeongum-Saeron-SemiBold.otf') format('opentype'), url('/static/fonts/ebs-hunminjeongum-saeron/EBS-Hunminjeongum-Saeron-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.ebs-hunminjeongum-saeron {
  font-family: 'EBS Hunminjeongum Saeron', fantasy;
}

/*
* 가비아 봄바람
* Gabia Bombaram
*
* 
* https://company.gabia.com/font
*/

@font-face {
  font-family: 'Gabia Bombaram';
  src: local('Gabia Bombaram'), local('GabiaBombaram'), local('가비아 봄바람'), local('가비아봄바람'), url('/static/fonts/gabia-bombaram/Gabia-Bombaram-Regular.otf') format('opentype'), url('/static/fonts/gabia-bombaram/Gabia-Bombaram-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.gabia-bombaram {
  font-family: 'Gabia Bombaram', cursive;
}

/*
* 가비아 납작블럭
* Gabia Napjak Block
*
* 
* https://company.gabia.com/font
*/

@font-face {
  font-family: 'Gabia Napjak Block';
  src: local('Gabia Napjak Block'), local('GabiaNapjakBlock'), local('가비아 납작블럭'), local('가비아납작블럭'), url('/static/fonts/gabia-napjak-block/Gabia-Napjak-Block-Regular.otf') format('opentype'), url('/static/fonts/gabia-napjak-block/Gabia-Napjak-Block-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.gabia-napjak-block {
  font-family: 'Gabia Napjak Block', cursive;
}

/*
* 가비아 솔미
* Gabia Solmee
*
* 
* https://company.gabia.com/font
*/

@font-face {
  font-family: 'Gabia Solmee';
  src: local('Gabia Solmee'), local('GabiaSolmee'), local('가비아 솔미'), local('가비아솔미'), url('/static/fonts/gabia-solmee/Gabia-Solmee-Regular.otf') format('opentype'), url('/static/fonts/gabia-solmee/Gabia-Solmee-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.gabia-solmee {
  font-family: 'Gabia Solmee', cursive;
}

/*
* 고도
* Godo
*
* 
* https://www.godo.co.kr/company/godofont.php
*/

@font-face {
  font-family: 'Godo';
  src: local('Godo'), local('고도'), url('/static/fonts/godo/Godo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Godo';
  src: local('Godo'), local('고도'), url('/static/fonts/godo/Godo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.godo {
  font-family: 'Godo', sans-serif;
}

/*
* 한수원 한돋움
* Handotum
*
* 
* http://blog.khnp.co.kr/khnpfont
*/

@font-face {
  font-family: 'Handotum';
  src: local('Handotum'), local('한수원 한돋움'), local('한수원한돋움'), url('/static/fonts/handotum/Handotum-Regular.otf') format('opentype'), url('/static/fonts/handotum/Handotum-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Handotum';
  src: local('Handotum'), local('한수원 한돋움'), local('한수원한돋움'), url('/static/fonts/handotum/Handotum-Bold.otf') format('opentype'), url('/static/fonts/handotum/Handotum-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.handotum {
  font-family: 'Handotum', sans-serif;
}

/*
* 한수원 한울림
* Hanulim
*
* 
* http://blog.khnp.co.kr/khnpfont
*/

@font-face {
  font-family: 'Hanulim';
  src: local('Hanulim'), local('한수원 한울림'), local('한수원한울림'), url('/static/fonts/hanulim/Hanulim-Regular.otf') format('opentype'), url('/static/fonts/hanulim/Hanulim-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.hanulim {
  font-family: 'Hanulim', sans-serif;
}

/*
* 이롭게 바탕
* Iropke Batang
*
* SIL Open Font License 1.1
* http://font.iropke.com/batang/#download
*/

@font-face {
  font-family: 'Iropke Batang';
  src: local('Iropke Batang'), local('IropkeBatang'), local('이롭게 바탕'), local('이롭게바탕'), url('/static/fonts/iropke-batang/Iropke-Batang-Regular.eot') format('eot'), url('/static/fonts/iropke-batang/Iropke-Batang-Regular.otf') format('opentype'), url('/static/fonts/iropke-batang/Iropke-Batang-Regular.ttf') format('truetype'), url('/static/fonts/iropke-batang/Iropke-Batang-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.iropke-batang {
  font-family: 'Iropke Batang', seif;
}

/*
* 제주고딕
* Jeju Gothic
*
* 
* https://www.jeju.go.kr/jeju/symbol/font/infor.htm
*/

@font-face {
  font-family: 'Jeju Gothic';
  src: local('Jeju Gothic'), local('JejuGothic'), local('제주고딕'), url('/static/fonts/jeju-gothic/Jeju-Gothic-Regular.otf') format('opentype'), url('/static/fonts/jeju-gothic/Jeju-Gothic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.jeju-gothic {
  font-family: 'Jeju Gothic', sans-serif;
}

/*
* 제주한라산
* Jeju Hallasan
*
* 
* https://www.jeju.go.kr/jeju/symbol/font/infor.htm
*/

@font-face {
  font-family: 'Jeju Hallasan';
  src: local('Jeju Hallasan'), local('JejuHallasan'), local('제주한라산'), url('/static/fonts/jeju-hallasan/Jeju-Hallasan-Regular.otf') format('opentype'), url('/static/fonts/jeju-hallasan/Jeju-Hallasan-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.jeju-hallasan {
  font-family: 'Jeju Hallasan', fantasy;
}

/*
* 제주명조
* Jeju Myeongjo
*
* 
* https://www.jeju.go.kr/jeju/symbol/font/infor.htm
*/

@font-face {
  font-family: 'Jeju Myeongjo';
  src: local('Jeju Myeongjo'), local('JejuMyeongjo'), local('제주명조'), url('/static/fonts/jeju-myeongjo/Jeju-Myeongjo-Regular.otf') format('opentype'), url('/static/fonts/jeju-myeongjo/Jeju-Myeongjo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.jeju-myeongjo {
  font-family: 'Jeju Myeongjo', serif;
}

/*
* KBIZ한마음 고딕
* KBIZ Hanmaeum Gothic
*
* 
* http://www.kbiz.or.kr/user/nd98015.do
*/

@font-face {
  font-family: 'KBIZ Hanmaeum Gothic';
  src: local('KBIZ Hanmaeum Gothic'), local('KBIZHanmaeumGothic'), local('KBIZ한마음 고딕'), local('KBIZ한마음고딕'), url('/static/fonts/kbiz-hanmaeum-gothic/KBIZ-Hanmaeum-Gothic-Light.otf') format('opentype'), url('/static/fonts/kbiz-hanmaeum-gothic/KBIZ-Hanmaeum-Gothic-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'KBIZ Hanmaeum Gothic';
  src: local('KBIZ Hanmaeum Gothic'), local('KBIZHanmaeumGothic'), local('KBIZ한마음 고딕'), local('KBIZ한마음고딕'), url('/static/fonts/kbiz-hanmaeum-gothic/KBIZ-Hanmaeum-Gothic-Regular.otf') format('opentype'), url('/static/fonts/kbiz-hanmaeum-gothic/KBIZ-Hanmaeum-Gothic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'KBIZ Hanmaeum Gothic';
  src: local('KBIZ Hanmaeum Gothic'), local('KBIZHanmaeumGothic'), local('KBIZ한마음 고딕'), local('KBIZ한마음고딕'), url('/static/fonts/kbiz-hanmaeum-gothic/KBIZ-Hanmaeum-Gothic-Medium.otf') format('opentype'), url('/static/fonts/kbiz-hanmaeum-gothic/KBIZ-Hanmaeum-Gothic-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'KBIZ Hanmaeum Gothic';
  src: local('KBIZ Hanmaeum Gothic'), local('KBIZHanmaeumGothic'), local('KBIZ한마음 고딕'), local('KBIZ한마음고딕'), url('/static/fonts/kbiz-hanmaeum-gothic/KBIZ-Hanmaeum-Gothic-Bold.otf') format('opentype'), url('/static/fonts/kbiz-hanmaeum-gothic/KBIZ-Hanmaeum-Gothic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'KBIZ Hanmaeum Gothic';
  src: local('KBIZ Hanmaeum Gothic'), local('KBIZHanmaeumGothic'), local('KBIZ한마음 고딕'), local('KBIZ한마음고딕'), url('/static/fonts/kbiz-hanmaeum-gothic/KBIZ-Hanmaeum-Gothic-Heavy.otf') format('opentype'), url('/static/fonts/kbiz-hanmaeum-gothic/KBIZ-Hanmaeum-Gothic-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

.kbiz-hanmaeum-gothic {
  font-family: 'KBIZ Hanmaeum Gothic', sans-serif;
}

/*
* KBIZ한마음 명조
* KBIZ Hanmaeum Myungjo
*
* 
* http://www.kbiz.or.kr/user/nd98015.do
*/

@font-face {
  font-family: 'KBIZ Hanmaeum Myungjo';
  src: local('KBIZ Hanmaeum Myungjo'), local('KBIZHanmaeumMyungjo'), local('KBIZ한마음 명조'), local('KBIZ한마음명조'), url('/static/fonts/kbiz-hanmaeum-myungjo/KBIZ-Hanmaeum-Myungjo-Light.otf') format('opentype'), url('/static/fonts/kbiz-hanmaeum-myungjo/KBIZ-Hanmaeum-Myungjo-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'KBIZ Hanmaeum Myungjo';
  src: local('KBIZ Hanmaeum Myungjo'), local('KBIZHanmaeumMyungjo'), local('KBIZ한마음 명조'), local('KBIZ한마음명조'), url('/static/fonts/kbiz-hanmaeum-myungjo/KBIZ-Hanmaeum-Myungjo-Regular.otf') format('opentype'), url('/static/fonts/kbiz-hanmaeum-myungjo/KBIZ-Hanmaeum-Myungjo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'KBIZ Hanmaeum Myungjo';
  src: local('KBIZ Hanmaeum Myungjo'), local('KBIZHanmaeumMyungjo'), local('KBIZ한마음 명조'), local('KBIZ한마음명조'), url('/static/fonts/kbiz-hanmaeum-myungjo/KBIZ-Hanmaeum-Myungjo-Medium.otf') format('opentype'), url('/static/fonts/kbiz-hanmaeum-myungjo/KBIZ-Hanmaeum-Myungjo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'KBIZ Hanmaeum Myungjo';
  src: local('KBIZ Hanmaeum Myungjo'), local('KBIZHanmaeumMyungjo'), local('KBIZ한마음 명조'), local('KBIZ한마음명조'), url('/static/fonts/kbiz-hanmaeum-myungjo/KBIZ-Hanmaeum-Myungjo-Bold.otf') format('opentype'), url('/static/fonts/kbiz-hanmaeum-myungjo/KBIZ-Hanmaeum-Myungjo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.kbiz-hanmaeum-myungjo {
  font-family: 'KBIZ Hanmaeum Myungjo', serif;
}

/*
* KT&G 상상본문
* KT&G SangSang Body
*
* 
* http://www.ktng.com/sangsang?mode=DOWN
*/

@font-face {
  font-family: 'KT&G SangSang Body';
  src: local('KT&G SangSang Body'), local('KTGSangSangBody'), local('KT&G 상상본문'), local('KTG상상본문'), url('/static/fonts/ktng-sangsang-body/Sangsang-Body-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'KT&G SangSang Body';
  src: local('KT&G SangSang Body'), local('KTGSangSangBody'), local('KT&G 상상본문'), local('KTG상상본문'), url('/static/fonts/ktng-sangsang-body/Sangsang-Body-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.kt-g-sangsang-body {
  font-family: 'KT&G SangSang Body', sans-serif;
}

/*
* KT&G 상상제목
* KT&G SangSang Title
*
* 
* http://www.ktng.com/sangsang?mode=DOWN
*/

@font-face {
  font-family: 'KT&G SangSang Title';
  src: local('KT&G SangSang Title'), local('KTGSangSangTitle'), local('KT&G 상상제목'), local('KTG상상제목'), url('/static/fonts/ktng-sangsang-title/Sangsang-Title-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'KT&G SangSang Title';
  src: local('KT&G SangSang Title'), local('KTGSangSangTitle'), local('KT&G 상상제목'), local('KTG상상제목'), url('/static/fonts/ktng-sangsang-title/Sangsang-Title-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.kt-g-sangsang-title {
  font-family: 'KT&G SangSang Title', sans-serif;
}

/*
* 미래로
* Miraero
*
* 
* https://github.com/glizzy/fonts/blob/master/LICENSE.txt
*/

@font-face {
  font-family: 'Miraero';
  src: local('Miraero'), local('미래로'), url('/static/fonts/miraero/Miraero-Regular.otf') format('opentype'), url('/static/fonts/miraero/Miraero-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.miraero {
  font-family: 'Miraero', serif;
}

/*
* 나눔바른고딕
* Nanum Barun Gothic
*
* SIL Open Font License 1.1
* http://help.naver.com/ops/step2/faq.nhn?faqId=15879
*/

@font-face {
  font-family: 'Nanum Barun Gothic';
  src: local('Nanum Barun Gothic'), local('NanumBarunGothic'), local('나눔바른고딕'), url('/static/fonts/nanum-barun-gothic/Nanum-Barun-Gothic-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  src: local('Nanum Barun Gothic'), local('NanumBarunGothic'), local('나눔바른고딕'), url('/static/fonts/nanum-barun-gothic/Nanum-Barun-Gothic-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  src: local('Nanum Barun Gothic'), local('NanumBarunGothic'), local('나눔바른고딕'), url('/static/fonts/nanum-barun-gothic/Nanum-Barun-Gothic-Regular.otf') format('opentype'), url('/static/fonts/nanum-barun-gothic/Nanum-Barun-Gothic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  src: local('Nanum Barun Gothic'), local('NanumBarunGothic'), local('나눔바른고딕'), url('/static/fonts/nanum-barun-gothic/Nanum-Barun-Gothic-Bold.otf') format('opentype'), url('/static/fonts/nanum-barun-gothic/Nanum-Barun-Gothic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.nanum-barun-gothic {
  font-family: 'Nanum Barun Gothic', sans-serif;
}

/*
* 나눔바른펜
* Nanum Barun Pen
*
* SIL Open Font License 1.1
* http://help.naver.com/ops/step2/faq.nhn?faqId=15879
*/

@font-face {
  font-family: 'Nanum Barun Pen';
  src: local('Nanum Barun Pen'), local('NanumBarunPen'), local('나눔바른펜'), url('/static/fonts/nanum-barun-pen/Nanum-Barun-Pen-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Barun Pen';
  src: local('Nanum Barun Pen'), local('NanumBarunPen'), local('나눔바른펜'), url('/static/fonts/nanum-barun-pen/Nanum-Barun-Pen-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.nanum-barun-pen {
  font-family: 'Nanum Barun Pen', cursive;
}

/*
* 나눔손글씨 붓
* Nanum Brush
*
* SIL Open Font License 1.1
* http://help.naver.com/ops/step2/faq.nhn?faqId=15879
*/

@font-face {
  font-family: 'Nanum Brush';
  src: local('Nanum Brush'), local('NanumBrush'), local('나눔손글씨 붓'), local('나눔손글씨붓'), url('/static/fonts/nanum-brush/Nanum-Brush-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.nanum-brush {
  font-family: 'Nanum Brush', cursive;
}

/*
* 나눔고딕
* Nanum Gothic
*
* SIL Open Font License 1.1
* http://help.naver.com/ops/step2/faq.nhn?faqId=15879
*/

@font-face {
  font-family: 'Nanum Gothic';
  src: local('Nanum Gothic'), local('NanumGothic'), local('나눔고딕'), url('/static/fonts/nanum-gothic/Nanum-Gothic-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Gothic';
  src: local('Nanum Gothic'), local('NanumGothic'), local('나눔고딕'), url('/static/fonts/nanum-gothic/Nanum-Gothic-Regular.otf') format('opentype'), url('/static/fonts/nanum-gothic/Nanum-Gothic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Gothic';
  src: local('Nanum Gothic'), local('NanumGothic'), local('나눔고딕'), url('/static/fonts/nanum-gothic/Nanum-Gothic-Bold.otf') format('opentype'), url('/static/fonts/nanum-gothic/Nanum-Gothic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Gothic';
  src: local('Nanum Gothic'), local('NanumGothic'), local('나눔고딕'), url('/static/fonts/nanum-gothic/Nanum-Gothic-ExtraBold.otf') format('opentype'), url('/static/fonts/nanum-gothic/Nanum-Gothic-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

.nanum-gothic {
  font-family: 'Nanum Gothic', sans-serif;
}

/*
* 나눔명조
* Nanum Myeongjo
*
* SIL Open Font License 1.1
* http://help.naver.com/ops/step2/faq.nhn?faqId=15879
*/

@font-face {
  font-family: 'Nanum Myeongjo';
  src: local('Nanum Myeongjo'), local('NanumMyeongjo'), local('나눔명조'), url('/static/fonts/nanum-myeongjo/Nanum-Myeongjo-Regular.otf') format('opentype'), url('/static/fonts/nanum-myeongjo/Nanum-Myeongjo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Myeongjo';
  src: local('Nanum Myeongjo'), local('NanumMyeongjo'), local('나눔명조'), url('/static/fonts/nanum-myeongjo/Nanum-Myeongjo-Bold.otf') format('opentype'), url('/static/fonts/nanum-myeongjo/Nanum-Myeongjo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Myeongjo';
  src: local('Nanum Myeongjo'), local('NanumMyeongjo'), local('나눔명조'), url('/static/fonts/nanum-myeongjo/Nanum-Myeongjo-ExtraBold.otf') format('opentype'), url('/static/fonts/nanum-myeongjo/Nanum-Myeongjo-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

.nanum-myeongjo {
  font-family: 'Nanum Myeongjo', serif;
}

/*
* 나눔손글씨 펜
* Nanum Pen
*
* SIL Open Font License 1.1
* http://help.naver.com/ops/step2/faq.nhn?faqId=15879
*/

@font-face {
  font-family: 'Nanum Pen';
  src: local('Nanum Pen'), local('NanumPen'), local('나눔손글씨 펜'), local('나눔손글씨펜'), url('/static/fonts/nanum-pen/Nanum-Pen-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.nanum-pen {
  font-family: 'Nanum Pen', cursive;
}

/*
* 나눔스퀘어
* Nanum Square
*
* SIL Open Font License 1.1
* http://help.naver.com/ops/step2/faq.nhn?faqId=15879
*/

@font-face {
  font-family: 'Nanum Square';
  src: local('Nanum Square'), local('NanumSquare'), local('나눔스퀘어'), url('/static/fonts/nanum-square/Nanum-Square-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Square';
  src: local('Nanum Square'), local('NanumSquare'), local('나눔스퀘어'), url('/static/fonts/nanum-square/Nanum-Square-Regular.otf') format('opentype'), url('/static/fonts/nanum-square/Nanum-Square-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Square';
  src: local('Nanum Square'), local('NanumSquare'), local('나눔스퀘어'), url('/static/fonts/nanum-square/Nanum-Square-Bold.otf') format('opentype'), url('/static/fonts/nanum-square/Nanum-Square-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Square';
  src: local('Nanum Square'), local('NanumSquare'), local('나눔스퀘어'), url('/static/fonts/nanum-square/Nanum-Square-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

.nanum-square {
  font-family: 'Nanum Square', sans-serif;
}

/*
* 노토 산스 CJK KR
* Noto Sans CJK KR
*
* SIL Open Font License 1.1
* https://www.google.com/get/noto/help/cjk/
*/

@font-face {
  font-family: 'Noto Sans CJK KR';
  src: local('Noto Sans CJK KR'), local('NotoSansCJKKR'), local('노토 산스 CJK KR'), local('노토산스CJKKR'), url('/static/fonts/noto-sans-cjk-kr/Noto-Sans-CJK-KR-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  src: local('Noto Sans CJK KR'), local('NotoSansCJKKR'), local('노토 산스 CJK KR'), local('노토산스CJKKR'), url('/static/fonts/noto-sans-cjk-kr/Noto-Sans-CJK-KR-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  src: local('Noto Sans CJK KR'), local('NotoSansCJKKR'), local('노토 산스 CJK KR'), local('노토산스CJKKR'), url('/static/fonts/noto-sans-cjk-kr/Noto-Sans-CJK-KR-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  src: local('Noto Sans CJK KR'), local('NotoSansCJKKR'), local('노토 산스 CJK KR'), local('노토산스CJKKR'), url('/static/fonts/noto-sans-cjk-kr/Noto-Sans-CJK-KR-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  src: local('Noto Sans CJK KR'), local('NotoSansCJKKR'), local('노토 산스 CJK KR'), local('노토산스CJKKR'), url('/static/fonts/noto-sans-cjk-kr/Noto-Sans-CJK-KR-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  src: local('Noto Sans CJK KR'), local('NotoSansCJKKR'), local('노토 산스 CJK KR'), local('노토산스CJKKR'), url('/static/fonts/noto-sans-cjk-kr/Noto-Sans-CJK-KR-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

.noto-sans-cjk-kr {
  font-family: 'Noto Sans CJK KR', sans-serif;
}

/*
* 삼국지3
* Samgukji 3
*
* 
* https://github.com/glizzy/fonts/blob/master/LICENSE.txt
*/

@font-face {
  font-family: 'Samgukji 3';
  src: local('Samgukji 3'), local('Samgukji3'), local('삼국지3'), url('/static/fonts/sam3/Samgukji-3-Regular.otf') format('opentype'), url('/static/fonts/sam3/Samgukji-3-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.samgukji-3 {
  font-family: 'Samgukji 3', serif;
}

/*
* 서울 한강
* Seoul Hangang
*
* 
* http://www.seoul.go.kr/v2012/seoul/symbol/font.html
*/

@font-face {
  font-family: 'Seoul Hangang';
  src: local('Seoul Hangang'), local('SeoulHangang'), local('서울 한강'), local('서울한강'), url('/static/fonts/seoul-hangang/Seoul-Hangang-Light.otf') format('opentype'), url('/static/fonts/seoul-hangang/Seoul-Hangang-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Seoul Hangang';
  src: local('Seoul Hangang'), local('SeoulHangang'), local('서울 한강'), local('서울한강'), url('/static/fonts/seoul-hangang/Seoul-Hangang-Medium.otf') format('opentype'), url('/static/fonts/seoul-hangang/Seoul-Hangang-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Seoul Hangang';
  src: local('Seoul Hangang'), local('SeoulHangang'), local('서울 한강'), local('서울한강'), url('/static/fonts/seoul-hangang/Seoul-Hangang-Bold.otf') format('opentype'), url('/static/fonts/seoul-hangang/Seoul-Hangang-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Seoul Hangang';
  src: local('Seoul Hangang'), local('SeoulHangang'), local('서울 한강'), local('서울한강'), url('/static/fonts/seoul-hangang/Seoul-Hangang-ExtraBold.otf') format('opentype'), url('/static/fonts/seoul-hangang/Seoul-Hangang-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

.seoul-hangang {
  font-family: 'Seoul Hangang', serif;
}

/*
* 서울 남산
* Seoul Namsan
*
* 
* http://www.seoul.go.kr/v2012/seoul/symbol/font.html
*/

@font-face {
  font-family: 'Seoul Namsan';
  src: local('Seoul Namsan'), local('SeoulNamsan'), local('서울 남산'), local('서울남산'), url('/static/fonts/seoul-namsan/Seoul-Namsan-Light.otf') format('opentype'), url('/static/fonts/seoul-namsan/Seoul-Namsan-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Seoul Namsan';
  src: local('Seoul Namsan'), local('SeoulNamsan'), local('서울 남산'), local('서울남산'), url('/static/fonts/seoul-namsan/Seoul-Namsan-Medium.otf') format('opentype'), url('/static/fonts/seoul-namsan/Seoul-Namsan-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Seoul Namsan';
  src: local('Seoul Namsan'), local('SeoulNamsan'), local('서울 남산'), local('서울남산'), url('/static/fonts/seoul-namsan/Seoul-Namsan-Bold.otf') format('opentype'), url('/static/fonts/seoul-namsan/Seoul-Namsan-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Seoul Namsan';
  src: local('Seoul Namsan'), local('SeoulNamsan'), local('서울 남산'), local('서울남산'), url('/static/fonts/seoul-namsan/Seoul-Namsan-ExtraBold.otf') format('opentype'), url('/static/fonts/seoul-namsan/Seoul-Namsan-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

.seoul-namsan {
  font-family: 'Seoul Namsan', sans-serif;
}

/*
* 스포카 한 산스 서브셋
* Spoqa Han Sans Subset
*
* SIL Open Font License 1.1
* https://github.com/spoqa/spoqa-han-sans/blob/master/LICENSE
*/

@font-face {
  font-family: 'Spoqa Han Sans Subset';
  src: local('Spoqa Han Sans Subset'), local('SpoqaHanSansSubset'), local('스포카 한 산스 서브셋'), local('스포카한산스서브셋'), url('/static/fonts/spoqa-han-sans-subset/Spoqa-Han-Sans-Thin.eot') format('eot'), url('/static/fonts/spoqa-han-sans-subset/Spoqa-Han-Sans-Thin.svg') format('svg'), url('/static/fonts/spoqa-han-sans-subset/Spoqa-Han-Sans-Thin.ttf') format('truetype'), url('/static/fonts/spoqa-han-sans-subset/Spoqa-Han-Sans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Spoqa Han Sans Subset';
  src: local('Spoqa Han Sans Subset'), local('SpoqaHanSansSubset'), local('스포카 한 산스 서브셋'), local('스포카한산스서브셋'), url('/static/fonts/spoqa-han-sans-subset/Spoqa-Han-Sans-Regular.eot') format('eot'), url('/static/fonts/spoqa-han-sans-subset/Spoqa-Han-Sans-Regular.svg') format('svg'), url('/static/fonts/spoqa-han-sans-subset/Spoqa-Han-Sans-Regular.ttf') format('truetype'), url('/static/fonts/spoqa-han-sans-subset/Spoqa-Han-Sans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Spoqa Han Sans Subset';
  src: local('Spoqa Han Sans Subset'), local('SpoqaHanSansSubset'), local('스포카 한 산스 서브셋'), local('스포카한산스서브셋'), url('/static/fonts/spoqa-han-sans-subset/Spoqa-Han-Sans-Subset-Bold.eot') format('eot'), url('/static/fonts/spoqa-han-sans-subset/Spoqa-Han-Sans-Subset-Bold.svg') format('svg'), url('/static/fonts/spoqa-han-sans-subset/Spoqa-Han-Sans-Subset-Bold.ttf') format('truetype'), url('/static/fonts/spoqa-han-sans-subset/Spoqa-Han-Sans-Subset-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

.spoqa-han-sans-subset {
  font-family: 'Spoqa Han Sans Subset', sans-serif;
}

/*
* 티몬 몬소리
* Tmon Monsori
*
* SIL Open Font License 1.1
* https://brunch.co.kr/@creative/32
*/

@font-face {
  font-family: 'Tmon Monsori';
  src: local('Tmon Monsori'), local('TmonMonsori'), local('티몬 몬소리'), local('티몬몬소리'), url('/static/fonts/tmon-monsori/Tmon-Monsori-Regular.otf') format('opentype'), url('/static/fonts/tmon-monsori/Tmon-Monsori-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.tmon-monsori {
  font-family: 'Tmon Monsori', sans-serif;
}

/*
* 야놀자 야
* Yanolja Ya
*
* 
* http://cast.yanolja.com/detail/2171
*/

@font-face {
  font-family: 'Yanolja Ya';
  src: local('Yanolja Ya'), local('YanoljaYa'), local('야놀자 야'), local('야놀자야'), url('/static/fonts/yanolja-ya/Yanolja-Ya-Regular.otf') format('opentype'), url('/static/fonts/yanolja-ya/Yanolja-Ya-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Yanolja Ya';
  src: local('Yanolja Ya'), local('YanoljaYa'), local('야놀자 야'), local('야놀자야'), url('/static/fonts/yanolja-ya/Yanolja-Ya-Bold.otf') format('opentype'), url('/static/fonts/yanolja-ya/Yanolja-Ya-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.yanolja-ya {
  font-family: 'Yanolja Ya', cursive;
}